.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
    height: 100%;
    position: relative;
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-enter {
    opacity: 0;
    transform: scale(0.9);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}


.title {
  font-family: OpenSansLight, sans-serif;
  font-size: 44px;
  color: #18156b;
  margin-bottom: 40px;
    padding-top: 10px;
}

.mainTitle {
  font-family: AndyBold, "sans-serif";
  font-size: 20vh;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  margin: 20px auto;
}

.input {
  display: block;
  width: 50%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1.5rem;
  font-family: OpenSansRegular, sans-serif;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  text-align: center;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-notification {
    font-family: OpenSansBold, sans-serif;
    font-size: 0.7rem;
    color: #d13b34;
    transition: 0.3s;
    margin-top: 8px;
}

.input-notification_show {
    opacity: 1;
    transform: scale(0.9);
}

.input-notification_transparent {
    opacity: 0;
    transition: 0.3s;
}

.wrapCarousel {
    margin-bottom: 12px;
}

.button {
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.3rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-family: OpenSansLight, sans-serif;
  outline: none;
}

.button_submit {
  color: #fff;
  background: linear-gradient(15deg, #0B2349 18%, #0D61BC 66%, #8AA9D6);
  border-color: #007bff;
}

.button_submit:hover {
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
}

.button_submit:active {
  margin-top: 18px;
  transition: 0.1s linear;
  margin-bottom: 2px;
}

.largeButton {
  height: 60px;
  margin: 30px 0;
  position: relative;
  width: 200px;
}
.largeButton_submit {
  align-items: center;
  background: #273439;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 200;
  height: 60px;
  justify-content: center;
  position: absolute;
  transition: background 300ms, opacity 500ms 800ms;
  user-select: none;
  width: 200px;
    z-index: 3;
}
.largeButton_submit:hover {
  background: #0e232e;
}

.largeButtonsWrap {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.svg {
  left: -200px;
  position: absolute;
  top: -60px;
  transform: scale(1);
}
.path {
  fill:#0e232e;
  stroke:#0e232e;
  transform-origin: 50%;
  transition: transform 1200ms cubic-bezier(0.6, -0.48, 0.735, 0.045), fill 1200ms, stroke 1200ms;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media screen and (max-width: 770px){
  .input {
    width: 80%;
  }
}

@media screen and (max-width: 900px){
    .largeButtonsWrap {
        width: auto;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .largeButton_submit {
        transition: 1000ms;
    }
}
